<!DOCTYPE html>
<html>
  <head>
    <title>Agregar oficina</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Agregar oficina</h1>
    <form action="/agregaroficina" method="post">
      <input type="text" name ="denominacion" placeholder="Denominacion">
      
      <button type = "submit">Agregar</button>
    </form>
      
  </body>
</html>
