
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>

    <body>
        
        <form action="/delete/<%= item.id %>" method="post">
            <h1>Confirma que desea eliminar ese registro?</h1>
            <button type="submit">Confirmar</button>
            <a class= "btn btn-info" href="/personas"> Cancelar</a>
        </form>

    </body>

</html>
