
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
      <body>
        <form action="/delete/<%= item.id %>" method="post">
            <h1>Desea eliminar este registro de persona?</h1>
            <button type="submit">Confirmar</button>
        </form>
    
    </body>
    

</html>
