
  <nav class="navbar navbar-expand-md navbar-light bg-primary"> 
    <a class="navbar-brand" href="#">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link mr-6" href="/">Home <span class="sr-only">  </span></a>
            
            
        <a class="nav-link mr-6" href="/personas">Personas</a>
 
        <a class="nav-link mr-6" href="/oficina">Oficinas</a>   
          
            
        <a class="nav-link mr-6" href="/personaxoficina">Buscar Ofinas/Personas</a>
    </div>       
       
    
</nav>