<!DOCTYPE html>
<html>
  <%- include('./head.ejs') %>

<body>
  <h1><%= title %></h1>
  <ul>
      <% oficinas.forEach(oficina => { %>
          <li>
              <strong>Nombre:</strong> <%= oficina.nombre %><br>
              <strong>Denominación:</strong> <%= oficina.denominacion %>
          </li>
      <% }); %>
  </ul>
</body>
  

